html {
  height: 100%;
}

body {
  font-family: "Noto Sans Mono", monospace;
  background: linear-gradient(to bottom right, #EA7676, #C79E35);
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.top h1 {
  font-weight: 600;
  font-size: 2.8em;
  margin: 0;
}

.desc {
  margin: 0;
  max-width: 30rem;
  text-align: center;
}

.links {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .heading {
    flex-direction: column;
    gap: 1rem;
  }
}
